.picture-section-bg {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.65);
}
.picture-section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    animation: slider 16s ease-in-out infinite;
    width: 100%;
}
.picture-section-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.danny {
    margin-top: 100px;
}

@keyframes slider {
    0%, 100%{
        background-image: url(./food.jpg);
    }
    33%{
        background-image: url(./food2.jpg);
    }
    66%{
        background-image: url(./food3.jpg);
    }
    
}